{extends file="page.tpl"}}

{block name=content}

<div class="row">
    <div class="col-12">
        <h2 class="mierda">mierdaaa</h2>
    </div>
    <div class="col-4">
        <form action="{$smarty.server.PHP_SELF}?fc=module&module=mymodule&controller=message" method="post" class="col-md-4">
            <div class="form-group">
                <input name="mierda" value="" type="text" class="form-control" placeholder="" autocomplete="false">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>


{/block}}